body
  background-color lighten(blue, 20%)
html
  color green

p.hello
  color #fff
html
  margin-top 30px
  margin-bottom 30px
  margin-left 20px
  margin-right 15px
html
  margin-top 30px
  margin-bottom 30px
  margin-left 20px
  margin-right 15px